/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 14, 2016, 12:14:45 PM
    Author     : E016233
*/

body {
    height: 1080px;
    width: 2436px;
    color: #FABE1B;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 38px;
    overflow: hidden;
    padding: 0px 0px;
    margin: 0px 0px;
}

.underline {
    text-decoration: underline;
}

.disabled {
    border: 2px solid darkgray !important;
    color: darkgray !important;
}

.racerOverlay {
    position: absolute;
    height: 340px;
    width: 288px;
    overflow: hidden;
}

.racerOverlay1 {
    left: 730px;
    top: 727px;
}
.racerOverlay2 {
    left: 420px;
    top: 727px;
}
.racerOverlay3 {
    left: 110px;
    top: 727px;
}
.racerOverlay4 {
    left: 1040px;
    top: 358px;
}
.racerOverlay5 {
    left: 730px;
    top: 358px;
}
.racerOverlay6 {
    left: 420px;
    top: 358px;
}

.newPlayerPopup {
    display: none;
    position: relative;
    top: 200px;
    background: rgba(0, 0, 0, .5);
}

.newPlayerPopup span {
    position: relative;
}

.controls {
    position: absolute;
    width: 476px;
    left: 1960px;
    top: 172px;
    font-size: 76px;
}

.button {
    border: 2px solid #FABE1B;
    text-align: center;
}

.filter {
    height: 76px;
    width: 76px;
    margin-right: 3px;
}

.dim {
    opacity: 0.5;
}

.clicked {
    opacity: 1 !important;
}

.showAllButtons {
    width: 100%;
}

.showAllButton {
    display: inline-block;
    width: 47%;
}

#allButton {
    float: right;
}

.lockBoardButtons {
    width: 100%;
    margin-top: 10px;
}

.lockBoardButton {
    display: inline-block;
    width: 47%;
}

.hideBoardButtons {
    width: 100%;
    margin-top: 16px;
}

#lockGlobalButton {
    float: right;
}

.optionsButtons {
    margin-top: 6px;
}

.leaderboard {
    position: absolute;
    left: 1446px;
    top: 165px;
    overflow: hidden;
}

.leaderboardDiv {
    position: relative;
    background-color: #19171c;
    border-radius: 12px;
}

.leaderboardHeader {
    width: 100%; 
    text-align: center; 
    font-size: 56px; 
}

#racersDiv {
    width: 476px;
}

.numberDiv {
  text-align: right;
  display: inline-block;
}

.playerName {
    color: #ffffff;
}

.racerImage {
    float: right;
    position: relative;
    top: 2px;
    height: 38px;
    width: 38px;
}

.prestigeImage {
    position: relative;
    top: 2px;
    height: 38px;
    width: 38px;
}

.newPlayerImage {
    position: relative;
    top: 2px;
    height: 38px;
    width: 38px;
}

.topButton {
    margin-right: 8px;
    font-size: 76px;
    display: inline-block;
    border: 2px solid #FABE1B;
    text-align: center;
}

#levelResult {
    border-radius: 12px;
    background-color: #19171c;
    color: #FABE1B;
    text-align: center;
    font-size: 38px;
    position: absolute;
    top: 165px;
    left: 200px;
    width: 1000px;
    height: 56px;
    display: none;
    font-family: 'Bebas Neue';
}
#levelResult span {
    position: relative;
    top: 6px;
}

#fulltrack {
    width: 1920px;
    height: 300px;
    opacity: 0;
}

#fulltrack > img {
    position: relative;
    top: 10px;
    left: 200px;
    display: block;
    height: 60px;
    width: auto;
    opacity: 0.8;
}

#timer {
    position: absolute;
    top: 98px;
    color: white;
    text-shadow: 2px 0px rgba(0, 0, 0, 1.00), 0px 2px rgba(0, 0, 0, 1.00), -2px 0px rgba(0, 0, 0, 1.00), 0px -2px rgba(0, 0, 0, 1.00);
    font-size: 70px;
    font-weight: 900;
    left: 1240px;
}

#completed {
    position: absolute;
    top: 118px;
    color: white;
    text-shadow: 2px 0px rgba(0, 0, 0, 1.00), 0px 2px rgba(0, 0, 0, 1.00), -2px 0px rgba(0, 0, 0, 1.00), 0px -2px rgba(0, 0, 0, 1.00);
    font-size: 40px;
    font-weight: 900;
    left: 50px;
}

.character {
    display: inline;
    position: absolute;
    padding: 0px;
    margin: 0px;
    width: 50px;
    height: 50px;
    z-index: 2;
}

#characters {
    position: absolute;
    top: 113px;
    left: 225px;
    width: 350px;
    height: 70px;
    opacity: 0;
}

#race {
    top: 70px;
    position: relative;
    overflow: hidden;
    display: block;
    margin: auto;
    height: 00px;
    width: 800px;
    opacity: 0;
}

.racer {
    position: absolute;
}

.racer > img {
    position: absolute;
}

#R1 {
    position: absolute;
    border-radius: 0px 0px 0px 50px;
    top: 70px;
    left: 100px;
    background: url(../images/Bowser0.png);
    background-size: contain;
    width: 100px;
    height: 100px;
    -webkit-animation: updown 0.1s linear infinite alternate;
}

.racer:nth-child(1) {
    z-index: 3;
    left: -300px;
}

.racer:nth-child(1) > img {

    width: 300px;
    top: 83px;
}

#R2 {
    position: absolute;
    border-radius: 0px 0px 0px 35px;
    top: 5px;
    left: 638px;
    background: url(../images/Bowser0.png);
    background-size: contain;
    width: 70px;
    height: 70px;
    -webkit-animation: updown 0.1s linear infinite alternate;
}

.racer:nth-child(2) > img {
    width: 250px;
    top: 20px;
    left: 550px;
    top: 0px;
}

@-webkit-keyframes updown {

    0% {
        -webkit-transform: translateY(0px);
    }
    100% {
        -webkit-transform: translateY(-5px);
    }
}

#result {
    position: relative;
    display: block;
    margin: auto;
    width: 800px;
    opacity: 0;
}

#result > img {
    position: absolute;
    top: 70px;
    left: 195px;
    display: block;
    margin: auto;
    height: 150px;
    width: 400px;
    opacity: 0.8;
}

#score {
    position: absolute;
    border-radius: 40px;
    background-color: rgba(255, 253, 0, 0.4);
    left: 340px;
    width: 120px;
    height: 120px;
}

#score1 {
    left: 18px;
    top: 20px;
    position: absolute;
    width: 90px;
    height: 90px;
    background-size: contain;
    -webkit-animation: updown 0.4s linear infinite alternate;
}

#score2 {
    left: -120px;
    top: 60px;
    position: absolute;
    width: 90px;
    height: 90px;
    background-size: contain;
}

#score3 {
    left: 158px;
    top: 80px;
    position: absolute;
    width: 90px;
    height: 90px;
    background-size: contain;
}

#dropdownStats {
    border-radius: 12px;
    background-color: #19171c;
    color: #FABE1B;
    position: absolute;
    width: 1429px;
    height: 520px;
    left: 7px;
    top: 165px;
    font-size: 38px;
    font-family: 'Bebas Neue';
    overflow: hidden;
    display: none;
}

#stats1 {
    position: relative;
    left: 38px;
    top: 38px;
}

#stats2 {
    position: absolute;
    top: 38px;
    left: 900px;
}
#stats3 {
    position: absolute;
    top: 400px;
    left: 900px;
}

#levelStatsContainer {
    overflow: hidden;
    height: 410px;
}

#levelStats {
    position: relative;
}