/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 14, 2016, 12:14:45 PM
    Author     : E016233
*/

#racersDiv {
    width: 100%; 
    height: 600px; 
    color: #FABE1B; 
    font-size: 38px; 
    font-family: 'Bebas Neue'; 
}

.numberDiv {
  text-align: right;
  width: 38px;
  display: inline-block;
}

img {
    position: relative;
    top: 2px;
    height: 38px;
    width: 38px;
}

.playerDiv {
    float: left;
    display: none;
    width: 100%;
}