/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 14, 2016, 12:14:45 PM
    Author     : E016233
*/

body {
    height: 1080px;
    width: 2436px;
    background: #000000;
    color: #FABE1B; 
    font-family: 'Bebas Neue', sans-serif;
    font-size: 38px;
}

.racerOverlay {
    position: absolute;
    height: 340px;
    width: 288px;
    overflow: hidden;
}

.racerOverlay1 {
    left: 730px;
    top: 633px;
}
.racerOverlay2 {
    left: 420px;
    top: 633px;
}
.racerOverlay3 {
    left: 110px;
    top: 633px;
}
.racerOverlay4 {
    left: 1040px;
    top: 264px;
}
.racerOverlay5 {
    left: 730px;
    top: 264px;
}
.racerOverlay6 {
    left: 420px;
    top: 264px;
}

.newPlayerPopup {
    display: none;
    position: relative;
    top: 200px;
    background: rgba(0, 0, 0, .5);
}

.newPlayerPopup span {
    position: relative;
}

.controls {
    position: absolute;
    width: 476px;
    left: 1960px;
    top: 78px;
    font-size: 76px;
}

input[type=checkbox] {
    -webkit-transform: scale(4);
}

.button {
    border: 1px solid #FABE1B;
    text-align: center;
}

.filter {
    height: 76px;
    width: 76px;
    margin-right: 3px;
}

.dim {
    opacity: 0.5;
}

.clicked {
    opacity: 1 !important;
}

.showAllButtons {
    width: 100%;
}

.showAllButton {
    display: inline-block;
    width: 47%;
}

#allButton {
    float: right;
}

#readFile {
    margin-top: 36px;
    float: right;
}

.lockBoardButtons {
    width: 100%;
}

.lockBoardButton {
    display: inline-block;
    width: 47%;
}

#lockGlobalButton {
    float: right;
}

.optionsButtons {
    margin-top: 6px;
}

input {
    width: 76px;
    margin-left: 30px;
    font-size: 38px;
    background: rgba(0,0,0,0);
    color: #FABE1B;
}

.leaderboard {
    position: absolute;
    left: 1446px;
    top: 78px;
}

.leaderboardHeader {
    width: 100%; 
    text-align: center; 
    font-size: 56px; 
}

#racersDiv {
    width: 476px;
}

.numberDiv {
  text-align: right;
  display: inline-block;
}

img {
    position: relative;
    top: 2px;
    height: 38px;
    width: 38px;
}

.playerName {
    color: #ffffff;
}

.racerImage {
    float: right;
}